<nav class="navbar navbar-expand-lg bg-body-tertiary shadow-sm">
    <div class="container-fluid">
        <span class="navbar-brand">Hello!</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="/recipe/">Add recipe</a>
                <a class="nav-link" href="/all-recipe/">All recipe</a>
            </div>
        </div>
        <!-- <div class="ml-auto">
            <button href="#" class="btn btn-outline-success" >Logout</button>
        </div> -->
    </div>
</nav>
